
@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: normal;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

body {
  font-family: 'Godo', sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #1a4780;
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 8px;
}

div{
  word-break: break-all;
  word-break:break-word;
}

.mainbtn{
  color: black;
}

.mainbtn:hover {
  color: #ffffff;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.658);
  text-decoration: none;
}
.delbtn{
  color: rgb(255, 0, 0);
}

.upbtn{
  color: rgb(0, 0, 0);
}
.postp{
  color: #8d8d8d;
}
.posttitle{
  color: #e49300
}

button{
  font-family: 'Godo', sans-serif;
  text-decoration: none;
  font-size: 16px;
  border: 0;
  color: rgb(255, 255, 255);
  padding: 10px 8px;
}

.login, .signup, .logout{
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.199);
  margin: 10px;
}
.logouttext{
  border-radius: 8px;
  margin: 10px;
}
.logout:hover {
  color: #ffffff;
  border-radius: 20px;
  background: rgba(230, 188, 0, 0.541);
  text-decoration: none;
}

.logbtndiv{
  padding: 30px;
}
.loginbtn{
  border-radius: 8px;
  background-color:  rgb(230, 187, 0);
  padding: 20px 135px;
}
.loginbtn:hover {
  color: #ffffff;
  border-radius: 20px;
  background: rgba(230, 188, 0, 0.541);
  text-decoration: none;
}
.titledate{
  display: flex;
  justify-content: space-between;
}

.Writebtn{
  padding: 30px;
}
.writediv{
  margin-top: 50px;
  background-color: #00000059;
  border-radius: 8px;
  height: 600px;
  width: 550px;
  transition: 1s ease all;
}
.savebtn, .cancelbtn{
  border-radius: 8px;
  background-color:  rgb(230, 187, 0);
  padding: 15px 15px;
  margin: 10px;
}
.savebtn:hover,.cancelbtn:hover {

  color: #ffffff;
  border-radius: 20px;
  background: rgba(230, 188, 0, 0.541);
  text-decoration: none;
}

.logsign{
  padding: 30px;
}

.loginbtn2{
  border-radius: 8px;
  color: black;
  padding: 20px 20px;
}

.loginbtn2:hover {
  color: #707070;
  border-radius: 20px;
  text-decoration: none;
}

.login:hover, .signup:hover {
  color: #ffffff;
  background: rgba(230, 188, 0, 0.514);
  text-decoration: none;
}

.Signuppage{
  height: auto;
  min-height: 760px;
  padding: 5px;
  background-color: #fffcf1;
}

.Writepage{
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 760px;
  padding: 5px;
  background-color:  #fffcf1;
  background-image: url(../src/img/background.jpg);
}

.signuptext{
  font-family:'TmonMonsori';
  margin: 30px;
  margin-top: 80px;
  font-size: 70px;
}

.signuptext2{
  color:  rgb(78, 78, 78);;
}

.writetext{
  color:  rgb(255, 255, 255);;
  margin: 20px;
  font-size: 25px;
}

.App {
  text-align: center;
  background-color: #837261;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-1{
  padding: 10px;
  color: aliceblue;
  position: static;
}

.nav-2{
  display: block;
  margin: 0px;
  padding: 10px;
  color: aliceblue;
}

.postlist{
  display: flex;
  flex:1
}

.newpost{
  display: flex;

}

.loginpage{
  height: auto;
  min-height: 760px;
  padding: 5px;
  background-color: #fffcf1;
}

.logintext{
  font-family:'TmonMonsori';
  margin: 30px;
  margin-top: 80px;
  font-size: 70px;
}

.logintext2{
  color:  rgb(78, 78, 78);;
}

.INPUT01{
  height: auto; 
  line-height: normal; 
  padding: .8em .5em; 
  width: 340px;
  height: 25px;
  font-size: 15px;
  color: rgb(0, 0, 0);;
  background-color:rgb(255, 255, 255);;
  outline-color: rgb(230, 187, 0);
  border-color: rgba(0, 0, 0, 0.24);
  transition: 1s ease all
}

.INPUT01:hover {
  color: #000000d5;
  background: rgba(245, 245, 245, 0.664);
  text-decoration: none;
}

.INPUT02, .INPUT03{
  height: auto; 
  line-height: normal; 
  padding: .8em .5em; 
  width: 340px;
  height: 25px;
  font-size: 15px;
  color: rgb(0, 0, 0);;
  background-color:rgb(255, 255, 255);;
  outline-color: rgb(230, 187, 0);
  border-color: rgba(0, 0, 0, 0.24);
  transition: 1s ease all
}

.INPUT02:hover, .INPUT03:hover{
  color: #000000d5;
  background: hsl(0deg 0% 84%);
  text-decoration: none;
}

.INPUT04{
  line-height: normal; 
  padding: .8em .5em; 
  width: 500px;
  height: 300px;
  font-size: 15px;
  color: rgb(0, 0, 0);;
  background-color:rgb(243, 243, 243);
  outline-color: rgb(230, 187, 0);
  border-color: rgba(0, 0, 0, 0.24);
  transition: 1s ease all
}

.INPUT04:hover{
  color: #000000d5;
  background: hsl(0deg 0% 84%);
  text-decoration: none;
}

.inputdiv, .inputdiv2{
  padding: 10px;

}

.ID, .PASS, .NICKNAME, .PASS2{
  margin-block-end: 5px;
  height: auto; 
  margin: 20px;
}
.titlediv{
  display: flex;
  justify-content: flex-end;
}
.contents{
  display: flex;
  height: auto;
  min-height: 550px;
  padding: 10px;
  background-image: url(./img/background.jpg);
  background-color:#fffcf1;
  justify-content: center;
  transition: 1s ease all
}
.contents-1{
  border: 1px solid;
  border-color: #bebebe;
  border-radius: 8px;
  display: flex;
  width: 680px;
  margin: 5px;
background-color: #efefef;
padding: 20px;
transition: 1s ease all
}

.contents-2{
  text-align: left;
  border: 1px solid;
  border-color: #bebebe;
  border-radius: 8px;
  margin: 5px;
  width: 680px;
  background-color:rgb(255, 255, 255);
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 1s ease all
}
.contents-3{
  
  text-align: left;
  border: 1px solid;
  border-color: #bebebe;
  border-radius: 8px;
  margin: 5px;
  width: 680px;
  background-color:rgb(255, 255, 255);
  padding: 20px;
  transition: 1s ease all
}
.contentss{
  background-color: #00000059;
  border-radius: 8px;
}
.App-link {
  color: #61dafb;
}

.nav{
  border: 1px solid;
  border-color: #a4a4a4;
  background-color: rgb(230, 187, 0);
  justify-content: space-between;
  display: flex;
  padding: 8px 20%;
  font-weight: 20px;
}
.rc-pagination {
  display: flex;
  justify-content: center;
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.foo{
  padding: 25px;
  background-color: #1a4780;
  display: flex;
}

.footertext{
  color: #cacaca;
}

.contents-1,.contents-2,.contents-3, .writediv, .contentss{
  
  animation-duration: 1s;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s;
}



@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@media all and (max-width: 1023px)
{
  .nav{
    padding: 8px 0px;
  }

}
@media all and (max-width: 752px)
{
  .contents-1, .contents-2, .contents-3{
    width: 550px;
  }
  
}

@media all and (max-width: 752px)
{
  .contents-1, .contents-2, .contents-3{
    width: 550px;
  }
  
}

@media all and (max-width: 630px)
{
  .contents-1, .contents-2, .contents-3{
    width: 450px;
  }
  
}

@media all and (max-width: 529px)
{
  .contents-1, .contents-2, .contents-3{
    width: 350px;
  }
  .INPUT04{
    width: 300px;
}
.INPUT03{
  width: 300px;
}
.writediv{
  width:350px
}
.loginbtn{
  padding: 20px 110px;
  transition: 1s ease all
}
}

@media all and (max-width: 419px)
{
  .contents-1, .contents-2, .contents-3{
    width: 300px;
    font-size: 15px;
  }
  .nav{
    font-size: 14px;
  }
  .INPUT04{
    width: 300px;
}
.writetext{
  font-size: 20px;
}
.INPUT03, .INPUT02, .INPUT01{
  width: 300px;
}
.writediv{
  width:350px
}
.loginbtn{
  padding: 20px 80px;
}
}

@media all and (max-width: 375px)
{
  .contents-1, .contents-2, .contents-3{
    width: 270px;
    font-size: 14px;
  }
  .nav{
    font-size: 14px;
  }
  .INPUT04{
    width: 270px;
}
.writetext{
  font-size: 18px;
}
.INPUT03{
  width: 270px;
}
.INPUT02, .INPUT01{
  width: 240px;
}
.writediv{
  width:325px
}
.signuptext {
  font-size: 60px;
}
.loginbtn{
  padding: 20px 65px;
}
}